<h1>Transactions</h1>

<button id="new">+ New transaction</button>

<!--Loop through each transactions-->
<h3>Recent transactions</h3>
<% @transactions.each do |transaction| %>
  <div>
    <h5><%= link_to transaction.summary, user_app_transaction_path(session[:user_id],transaction.id) %></h5>
  </div>
<% end %>