<h1>Hi, <%= @user.username %>!</h1>
<h2>Your balance: $<%= @balance %></h2>
<%= line_chart @balances  %>
<h3>Recent transactions</h3>
<% @app_transactions.each do |transaction| %>
  <div>
    <h5><%= link_to transaction.summary, user_app_transaction_path(session[:user_id],transaction.id) %></h5>
  </div>
<% end %>