<h1>Your categories</h1><br>

<button id="new">+ New Category</button>

<% @categories.each do |category| %>
  <div>
    <%= category.name %>
    <%= link_to "Edit", edit_user_category_path(@user,category.id) %>
  </div>
<% end %>
