<h1>Your categories</h1><br>

<a type="button" class="new" id="new" href="<%= new_user_category_path(@user) %>">+ New Category</a>

<% @categories.each do |category| %>
  <div>
    <%= category.name %>
    <%= link_to "Edit", edit_user_category_path(@user,category.id) %>
  </div>
<% end %>
