<h1>Your categories</h1><br>

<%= button_to "+ New category", new_category_path, class: "new", method: :get %>

<h3>Your categories</h3>

<!-- Dynamically generate table -->
<table>
<% @categories.each do |category| %>
  <tr>
    <td>
      <%= category.name %>
    </td>
    <td>
      <%= link_to "Edit", edit_category_path(category) %>
    </td>
    <td>
      <%= link_to "Delete", category_path(category), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </td>
  </tr>
<% end %>
</table>